@import '../components.scss';
.page{
    display: flex;
    flex-direction: column;
    width:100vw;
    min-height: 70vh;
    scroll-behavior: smooth;
    background-color: white;
    padding-bottom: 100px;
    .page-cover{
        width:100%;
        height:450px;
        object-fit: cover;
    }
    .cover-title{
        position: absolute;
        top:260px;
        left:120px;
        height:80px;
        h1{
        font-weight: 700;
        font-size: 3rem;
        color:white;
        overflow: hidden;
        }
        overflow: hidden;
        z-index: 3;
    }
    .cover-background{
        position: absolute;
        top:250px;
        left:-90px;
        width:20%;
        height:200px;
        transform: rotateY(0deg);
        opacity: 0.7;
        z-index: 2;
    }
    .page-sidenav{
            min-width:350px;
            position: absolute;
            height: auto;
            margin-bottom: 100px;
            top:530px;
            left:5%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: left;
            flex-wrap: wrap;
            .page-title{
                padding-left:3%;
                width:100%;
                font-size: 1.3rem;
                font-weight: 700;
                span{
                    font-weight: lighter;
                }
                color:black;
                height: 60px;
            }
            .page-menu{
                width:340px;
                
                height: 100%;
                display: flex;
                flex-direction: column;
                
                a{
                    text-decoration: none;
                    height: 40px;
                    font-size: 18px;
                    padding:0;
                    margin:0;
                    padding-left: 10px;
                    font-weight: bold;
                    padding-bottom: 15px;
                    &:hover{
                        color:black;
                    }
                }
            }
            .progress-bar{
                width:10px;
                display: block;
                height: 0px;
                background-color: var(--color-orangeDark);
                transition: 200ms linear;
            }
    }
    .page-sections{
            
            width:100%;
            padding-left: 30%;
            padding-right:15%;
            margin-bottom: 30px;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            .page-section{
                text-align: left;
                padding:10px;
                padding-top:30px;
                width:100%;
                height:auto;
                h1{
                    font-size: 36px;
                    font-weight: 700;
                }
                
            }
        }

}
#jump-menu{
    display: none;
}

@media(max-width:750px){
    .page{
    
    .page-cover{
        height:350px;
    }
     .cover-background{
         left:0;
         top:211px;
         display:none;
     }   
     .cover-title{
         top:300px;
         
         display: inline-flex;
         justify-content: flex-start;
         left:0;
         right:0;
         align-items: center;
         
         h1{
            padding:20px 20px;
             background-color: var(--color-orangeDark);
            font-size: 2rem;
         }
         z-index: 1;
     }

    #jump-menu{

        z-index: 11;
        display: none;
        flex-direction: column;
        position: fixed;
        width:100%;
        .jump-header{
            background-color: black;
            color:white;
            padding:10px 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        #jump-to-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            
            a{
                font-weight: bold;
                text-decoration: none;
                color:black;
                width:100%;
                box-shadow:0px 8px 16px 0px rgba(0,0,0,0.1); 
                text-decoration: none;
                padding:13px 5px;
                font-size: 1.3rem;
            }
        }
    } 
    .page-sidenav{
        display: none;
    }
    .page-sections{
        margin-top:0px;
        padding:0;
        padding-left:5px;
        
        .section-first{
            &.page-section{
            padding-top: 35px;
            }
        }
        .page-section{
            padding-top: 10px;
            h1{
                font-size: 1.5rem;
            }
        }
        
    }
    }
    
}