@import '../components.scss';

a{
    color:var(--color-orangeDark);
}
.sub-sections{
    h2{
        font-size: 32px;
        font-weight: regular;
    }
    p{
        span{
            color:var(--color-orangeDark);
            font-weight: bold;
        }
        a{
            color:var(--color-orangeDark); 
        }
    }
}

.organizations-work{
    display:flex;
    width:100%;
    flex-wrap: wrap;
    div{
        width:45%;
        margin-bottom: 8px;
        margin-left: 16px;
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-start;
        img{
            width:45%;
        }
        .organizations-work-info{
            width:45%;
            display: flex;
            flex-direction: column;
            a{
                font-size: medium;
                font-weight: bold;
                color:var(--color-orangeDark);
            }
        }
        
    }

}
.news-and-events{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    section{
        width:40%;
    }
    h4{
        margin-bottom:4px;
    }
}
.organizations-we-work{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    a{
        width:50%;
        margin-bottom: 10px;
    }
}

.people{
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
    .people-1{
        width:47%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;
        .people-1-role{
            width:100%;
            font-size: 32px;
            font-weight: regular;
        }
        .people-1-info{
            width:40%;
            h2,h4{
                padding: 0;
                margin: 0;
            }
        }
        .people-1-img{
            width:55%;
            overflow: hidden;
            height:250px;
            img{
                width: 100%;
            }
            
        }
        .people-1-description{
            width:100%;
            padding:5px;

            
            
            p{
                margin-top:8px;

            }
        }
    }
    .people-2{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width:100%;
        .people-2-role{
            width:100%;
        }
        .people-2-card{
            min-height: 200px;
            height:auto;
            display: flex;
            flex-direction: column;
            width:20%;
            margin-right:3%;
            .people-2-card-img{
                height: 70%;
                width:100%;
                img{
                    width:100%;
                }
            }
            .people-2-card-description{
                overflow: hidden;
                height: 30%;
                width:100%;
                h3{
                    margin: 0;
                }
                    p{
                    
                    line-height:1.5;
                    }
            }
        }
    }

}
.people-1-info-mobile{
    display: none;
}

.advisory-board{
    display:flex;
    flex-direction: column;
    overflow-x: auto;
    max-height: 800px;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items: flex-start;
    .advisory-member{
        width:24%;
        margin-right: 1%;
        h3,p{
            margin:3px;
        }
        margin-bottom: 20px;
    }
}

.what-we-do{
    
        .quote{
            font-style: italic;
            font-weight: 100;
            font-size: 20px;
            margin-bottom: 20px;
            b{
                font-style: normal;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            
        }
    
}

@media(max-width:750px){
    .organizations-work{
        a{
            width: 100%;
        }
    }
    .people{
    .people-1{
        width:100%;
        .people-1-img{
            width:50%;
            height:auto ;   
        }

        .people-1-info{
            display: none;
        }
        .people-1-info-mobile{
            display: block;
            h2,h4{
                margin:0;
            }
            width:45%;
            a{
                color: var(--color-orangeDark);
            }
        }
        .people-1-description{
            width:100%;
        }
    }
    .people-2{
    justify-content: space-between;
    .people-2-card{
        width:45%;
        margin-right: 0;
    }
    }
    }
}