@import '../components.scss';

.event-tool{
    height: 30px;
    font-size: 0.9rem;
    cursor: pointer;
    color: white;
}

.fc .fc-toolbar-title{
  font-size: 20px;
}


.tool-tip{
 
  height: auto;
  overflow-y: hidden;
  font-size: 20px !important;
  background-color:black !important;
  z-index: 99 !important ;
  
}



  .mobile-tip{
    display: flex;
    box-shadow: 5px 10px 5px rgb(119, 66, 31);
    position: fixed;
    top:50%;
    left:50%;
    height: 40vh;
    width: 20vw;
    border-radius: 10%;
    border-top:var(--color-orange) 8px outset;
    border-left:var(--color-orange) 4px inset;
    transform: translate(-50%,-50%);
    background-color:rgb(245, 245, 245);
    color:var(--color-greyDark);
    padding:15px;
    z-index: 100;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    
    .close{
      text-align: right;
      margin-bottom: 20px;
      margin-left:auto;
      &svg{
        height: 40px;
      }
      cursor: pointer;
      &:hover{

        transform: scale(1.3);
      }
    }
    .event-info{
      width:100%;
      
      .tip-title{
        
        display:flex;
        width:100%;
        .info-tag{
          width:45%;
          color:red;
        }
        .info-text{
          width: 60%;
        }
        font-size: 1rem;
        text-align: left;
        margin-bottom: 5px;
        svg{
          height: 1rem;
        }
        &:first-child{
          font-size: 1.4rem;
          margin-bottom: 10px;
          font-weight: 700;
        }
        
      }

  }
  .download-calendar{
    margin-top: auto;
    height: 50px;
    margin-left: 15%;
    width:70%;
    font-size: 1.4rem;
    border-radius: 4%;
    color:white;
    text-decoration: none;
    background-color: var(--color-orangeDark);
    padding-top:10px;
    padding-bottom:10px ;

    &:hover{
      background-color: var(--color-orange);
    }
  }
  }

  @media(max-width:700px){
    

    .mobile-tip{
      height: 50vh;
      width: 70vw;
    }
    .tool-tip{
      position: absolute !important;
      top:200px !important;
      right:200px !important;
      z-index: 1000 !important;
      height: 200px !important;
      
        }
    }

.calendar{
    
    margin-top: 30px;
    z-index: 2;
    
    
}


.fc .fc-col-header-cell-cushion {
    display: inline-block;
    
    padding: 1px 1px;
  }

  .fc .fc-daygrid table{
    
  }

.fc  .fc-daygrid-event .fc-daygrid-dot-event .fc-event .fc-event-start .fc-event-end .fc-event-past{
    flex-direction: column;
}

#calendar{
    z-index: 5;
}

  
  #calendar {
    max-width: 1100px;
    margin: 40px auto;
  }
  
 