@import '../components.scss';


.home{
    z-index: 1;
    width:100vw;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    //position: absolute;
    //top:50px;
    margin-bottom: 100px;
    .home-container{
        background-color: var(--color-light);
        margin-top: 10px;
        z-index: 1;
        
        
        .content{
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            
            h1{
                font-size: 32px;
                font-weight: bolder;

            }
            .home-intro{
                width:100%;
                padding-right: 0%;
                text-align: left;
                line-height: 1.5;
                h3{
                    font-weight: lighter;
                }
            }
            .home-routes{
                padding:5px 10px;
                z-index: 2;
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                font-weight: 600;
                text-align: left;
                line-height: 1.6;
                
                &.button{
                    justify-content: flex-end;
                    align-items:flex-end;
                    overflow: hidden;
                       
                    a{
                        font-weight: 500;
                        text-decoration: none;
                        background-color: var(--color-orangeDark);
                        color:white;
                        
                        padding:2%;
                        text-align: center;
                        
                        font-size: 2rem;
                        &:hover{
                            transform: scale(1.1);
                        }
                        
                    }
                    

                }
                
            }
            

            .home-news-and-events{
                width:100%;
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
                .news,.podcasts,.events{
                    width:30%;
                    text-align: left;
                    height: auto;
                    
                }
                .podcasts{
                    margin-right: 2px;
                }   

            }

        }
    }

}

.mobile-intro{
    display: none;
}




@media(max-width:750px){
    .home{

    .home-container{

    .content{
        flex-direction: column;
        h1{
            text-align: left;
        }
        .mobile-intro{
            display:flex;
            width:100%;
            text-align: left;
            h2{
                font-weight: normal;
                
            }
        }
        .home-intro{
            width:100%;
            h3{
                font-weight: normal;
            }
        }
    
    .home-routes{
        
        width:100%;
    }
    .home-news-and-events{
        .news,.podcasts,.events{
            width:100%;
        }

    }

    }
    }
}
}