@import '../components.scss';

.intro{
    
    z-index: 1;
    background-color:var(--color-orangeDark) ;
    height: 500px;
    overflow-y: hidden;
    width:100vw;
    color:white;
    font-size: 1.9rem;
    line-height: 1.2;
    text-align: left;
    font-family:'Roboto';
    padding:0;
    margin:0;
    overflow-y: hidden;
    
    
}

.video {
    position: absolute;
    left:0;
    z-index: 1;
    top:0;
    object-fit: cover;
    width: 100%;
    height: 500px;
  }
  /* Make the image to responsive */
 
  .overlay{
      position: absolute;
      //overflow-y: hidden;
      background-image: linear-gradient(180deg,transparent 0%,transparent 25%,var(--color-orangeDark) 80%);
      left:0px;
      top:0px;
      height:500px;
      width:100%;
      z-index: 2;
      background-position:bottom;
      right:0;
      opacity: 0.55;
       
  }

.poster{
    position: absolute;
    left:0;
    top:300px;
    height:200px;
    width:100%;
    background-color: transparent;
    color:white;
    left:20%;
    z-index: 10;
    
    h1{
        font-weight: 600;
        font-size: 4rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    h2{
        font-size: 1.8rem;
        font-weight: 400;
        margin:0;
        padding:0;
    }

}

.volume-button{
    position: absolute;
    right:10%;
    top:430px;
    background:transparent;
    z-index: 100;
    &:hover{
        transform: scale(1.1);
    }
}
.pause-button{
    position: absolute;
    right:13%;
    top:430px;
    background:transparent;
    z-index: 100;
    &:hover{
        transform: scale(1.1);
    }
}
.mobile-poster{
    display:none;
}


  @media(max-width:750px){
      .intro{
          height:350px;
          background-color: var(--color-light);
      }
      .mobile-poster{
        position: absolute;
        top:250px;
        display: inline-flex;
        justify-content: flex-start;
        left:0;
        right:0;
        align-items: center;
        
        h1{
           padding:10px 20px;
            height: 100%;
            background-color: var(--color-orangeDark);
           font-size: 2.5rem;
        }
        z-index: 1;
      }
      

      .video{
          top:0px;
          height:300px;
          background-color: white;
          object-fit: cover;
      }
      .overlay{
          display: none;
      }
      .poster{
        display: none;
      }
      .volume-button{
          display: none;
      }
      .pause-button{
          left:47%;
          top:150px;
      }
      
  }
  

  
 