@import '../components.scss';
p{
    line-height: 1.5;
}
a{
    color: var(--color-orangeDark);
}
.darker{
    color: var(--color-orangeDarker);
    font-size: bold;

}

.libre-corps{
    display: flex;
    align-items: center;
    
    .img{
        width: 30%;
        height: 100%;
    }
    p{
        width:70%;
    }
}

.open-work{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-between;
    section{
        margin-top: 30px;
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-start;
        .open-work-img{
            width:30%;
            img{
                width:100%;
            }
        }
        .open-work-info{
            h3{
                margin-top:0;
            }
            width:60%;
        }
    }
}

.our-open-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .our-open-projects-img{
        width:30%;
        overflow-y: hidden;
    }
    .our-open-projects-des{
        margin-top: 20px;
        width:100%;
        a{
            text-decoration: none;
            
        }
    }
}

@media(max-width:750px){
    .libre-corps{
        flex-wrap: wrap;
        .img{
            width:100%;
            text-align: center;
        }
        p{
            width:100%;
        }
    }
    .open-work{
        flex-direction: column;
        .card{
            width: 100%;
        }
    }
}