@import './components.scss';
.Slider {
  display: flex;
  background-color: var(--color-light);
  justify-content: space-between;
  align-items:center;
  width:100%;
  height:300px;
  margin-bottom: 5px;
  overflow-x: hidden;
  .slider-arrow{
    color:#b5b0a4;
    cursor: pointer;
    
    svg{
      padding:0;
      margin:0;
      
    }
  }
  
  &:hover .slider-arrow{
    transform: scale(1.1);
  }

  .card{    
    color:black;
    text-decoration: none;
    cursor: pointer;
    height:100%;
    display:flex;
    flex-direction: column;
    width:21%;
    
    .image{
      width:100%;
      overflow: hidden;
      img{
        
        width:100%;
        height: 100%;
        object-fit: cover;
      }
      width:100%;
    }
    .info{
      width:100%;
      text-align: left;
      padding: 6% 1%;
      overflow: hidden;
      display: flex;
      justify-content:flex-start;
      align-items:flex-start;
      flex-direction: column;
      background-color: #eaecef;
      h2,h4{
        margin-bottom:2px;
      }
      *{
        margin: 0;
        overflow: hidden;
      }
    
    }
    
  }
  
}

@media(max-width:750px){
  .Slider{
    justify-content: space-between;
    align-items: flex-start;
    width:auto;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;

    .slider-arrow{
      display: none;
    }
    
    .card{
      width:100%;
      min-width: 250px;
      margin-right:16px;
      
    }
  }
}