@import './components.scss';
.cards-fellows{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    cursor: pointer;
    .cards-fellow-card{
        text-decoration: none;
        width:30%;
        height: auto;
        overflow: hidden;
        margin-top: 20px;

        .cards-fellow-image{
            overflow: hidden;
            width:100%;
            height:70%;
            img{
                width:100%;
                height: 100%;
                object-fit:cover;
            }
        }
        .cards-fellow-description{
            height: 30%;
            padding:2%;
            text-align: left;
            color: var(--color-orangeDarker);
            h3,h4,p{
                margin:2px;
            }
            h4,p{
                color:black;
                
            }
            h4{
                font-weight: bolder;
            }
        }
        &:hover .cards-fellow-image img{
            backface-visibility: visible;
            background-color: var(--color-orangeDark);
        }
    }
}

@media(max-width:750px){
    .cards-fellows{
        justify-content: space-between;
        align-items: flex-start;
        width:auto;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        .cards-fellow-card{
            min-width: 200px;
            width:100%;
        }
    }
}