@import './components.scss';

.default-footer-fill{
    fill:var(--color-greyLight);
    &:hover{
        fill:var(--color-orangeDarker);
    }
}

footer{
    position: relative;
    background-color: var(--color-greyLight);
    min-height:300px;
    width:100%;
    padding:3% 0;
    display: flex;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;
    color:var(--color-greyDark);
    flex-wrap: wrap;

    a{
        
        width: 300px;
        text-align: left;
        P{
            text-align: left;
        }
        
        button{
            width:50%;
            cursor: pointer;
            min-height:60px;
            padding:4px 0;
            font-size: 1.7rem;
            border:none;
            color: var(--color-greyLight);
            background-color: var(--color-greyDark);
            &:hover{
                background-color: var(--color-greyDark);
                color:var(--color-orangeDarker); 
            }
        }
        &:hover{
            color:var(--color-orangeDarker); 
        }
        
    }
    .social{
        width:300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        svg{
            //fill:var(--color-greyLight);
        }
        a{
            margin-right:8px;
            padding:10px;
            border-radius: 50%;
            
            width:auto;
            color: var(--color-greyLight);
            overflow: hidden;
            background-color: var(--color-greyDark);
            &:hover{
                color:var(--color-orangeDarker);
                
                background-color: var(--color-greyDark);
            }
            
        }
    }
}

.social-icon:hover {
    svg{
    color:var(--color-orangeDarker);
    }
}

.icon{
    svg{
    //fill:var(--color-orangeDarker);
    }
}


@media(max-width:750px){
    footer{
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 10px;
        a{
            margin-bottom: 20px;
            text-align: left;
            button{
                width:50%;

            }
        }
    }
    
}