
@import '../constants.scss';


.navbar{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color:transparent;

    .dropdown-content{
        display: none;
        position: fixed;
        top:60px;
        padding:20px 0;
        background-color:white;
        color:black;
        height: auto;
        width:auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
        z-index: 100;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        
        .dropdown-section{
            margin:0px 10px;
            width:auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items:flex-start;
            
            font-size: 1.2rem;
            :first-child{
                font-weight: 600;
            }
            :not(:first-child){
                cursor: pointer;
            }
            a{
                text-decoration: none;
                color:var(--color-greyDark);
                margin:10px 0;
                &:hover{
                    color:var(--color-orangeDark);
                }
                
            }
        }
        
    }
    
}

.navigation{
   // border:red 3px solid;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    position:fixed;
    z-index: 1000;
    top:0;
    left:0;
    padding:10px 20px;
    padding-bottom: 0;
    display: inline-flex;
    justify-content:center;
    align-items: stretch;
    width:100%;
    background-color:white;
    
    
    .web-only-options{
        //border:red 3px solid;
        z-index: 1000;
        overflow-y: auto;
        display:inline-flex;
        margin-right: 30px;
        margin-left:auto;
        justify-content: flex-start;
        align-items: center;
        a{
        cursor: pointer;
        display: block;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-left:20px;
        padding-top: 10px;
        font-size: 1.2rem;
        font-weight: 600;
        text-decoration: none;
        color: var(--color-grey);;
        &:hover{
            color:black;
            
        }
        &:selected{
            color:black;
        }
            
        }

        .dropdown{
            
            .drop-title{
                
                display: inline-flex;
                align-items: center;

            }
            
        }
     
    }

    #mobile-only-bar{
        margin-left:auto;
        padding-top:10px;
        height: 100%;
        overflow: hidden;
        
    }

    .logo{
        //border:red 3px solid;
        overflow-y: hidden;
        width:225px;
        cursor: pointer;
        padding-bottom:8px;
        margin:0;
        .image{
            width:100%;
            height:100%;
            
        }
    }

}


#mobile-only-bar{
    display: none;
}
#mobile-only-options{
    display: none;
}

@media(max-width:750px){
        #web-only-options{
            display:none;
        }

        #mobile-only-bar{
            display: block;
        }
        #mobile-only-options{
            display:flex;
        }
        .mobile-only-options{
            
            display: none;
            position: fixed;
            z-index: 12;
            top:66px;
            bottom: 0;
            right:0;
            //min-height: 80vh;
            width:auto;
            min-width:300px;
            padding:30px 0px;
            flex-direction: column;
            justify-content:flex-start;
            align-items: flex-start;
            background-color: white;
            flex-wrap: wrap;
            transition: ease-in 2s;
            .mobile-direct-option{
                text-align: left;
                padding:0;
                margin-left: 5px;
                color:var(--color-grey);
                font-size: 1.5rem;
                
            }
                .dropdown{
                    width:100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .drop-title{
                        font-size: 1.5rem;
                        width:100%;
                        font-weight: 600;
                        display: inline-flex;
                        justify-content: space-around;
                        align-items: center;
                        height:auto;
                        cursor: pointer;
                        text-decoration: none;
                        color:var(--color-grey);
                        h3{
                            margin:0;
                            padding:4px 8px;
                            
                            
                        }
                        &:hover{
                                color: black;
                        }

                        
                        margin-bottom:15px;
                        .chevron{
                            
                            margin-left:auto;
                            margin-right: 20px;
                        }
                    }


                    .sub-route-1{
                        display: flex;
                        justify-content: flex-start;
                        box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2); 
                        align-items: flex-start;
                        flex-direction: column;
                        padding:5px 0;
                        background-color: var(--color-greyModerate);
                        font-weight: 700;
                        a{
                            color:black;
                            margin-left: 5px;
                            font-size: 1.3rem;
                            margin-bottom: 10px;
                            padding:4px 0;
                        }
                    }
                }
                .contact-mobile{
                    margin-top: auto;
                    margin-left: 20px;
                    text-decoration: none;
                    width:50%;
                    background-color: var(--color-orangeDark);
                    color:white;
                    height:60px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    h2{
                    margin:0;
                    overflow-y: hidden;
                    font-size: 1.5rem;
                    }
                }
                        
        }
        .navbar{
        .dropdown-content{
            flex-direction: column;
            padding:14px 25px;
            align-items: flex-start;
            width:100%;
            :not(:first-child){
                margin-top:20px;
                }
            .dropdown-section{
                
                width:100%;
                
            }
        }
    }
    .dropdown-content{
        display: none;
    }



}


.mob-route{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width:100%;
    padding:0;

    z-index: 10;
    
    .sub-route-1-header{
        box-shadow:0px 8px 16px 0px rgba(0,0,0,0.1); 
        z-index: 10;
        a{
            font-size: 1.3rem;
            padding:10px 8px;
            color:var(--color-grey);
            text-decoration: none;
            &:hover{
                color:var(--color-orangeDark);
            }
        }
        display: inline-flex;
        justify-content: space-between;
        .chevron-2{
            margin-left: auto;
            margin-right: 20px;
        }
    }
    .sub-route-2{
        
        width: 100%;
        background-color: var(--color-greyLight);
        padding:10px 0px;
        margin:0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a{
            z-index: 100;
            padding: 10px 8px;
            font-size: 1.1rem;
            text-decoration: none;
            color:black;
            &:hover{
                color:var(--color-orangeDark);
            }
        }
    }
    
}

.dropdown-menu{
    position:absolute;
    z-index: 100;
    padding:10px 20%;
    top:50px;
    height:300px;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--color-greyLight);

}

.direct-option{
    &:hover{
        border-bottom: 10px solid var(--color-orangeDark);
    }
}