@import '../components.scss';


.undergraduate-courses{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    .ug-tag{
        width:100%;
        
    }
    div{
        
        width:45%;
        padding-right:5%;
        display:flex;
        flex-wrap:wrap;
        *{
            width:100%;
        }
        a{  
            width:100%;
            color:var(--color-orangeDark);
            font-weight:bold;
            font-size:20px;
            text-decoration:none;
            &:hover{
                text-decoration:underline;
            }
            
        }
        p{
            line-height:1.5;
        }
        
    }
    
}


.academic-minor,.foss,.co-ops{
   a{
       color:var(--color-orangeDark);
       font-weight:bold;
   }
   p{
    margin-top:0;
    padding-top:0;
    line-height:1.5;
    }
   
}
.co-ops{
    div{
        display: flex;
        width:100%;
        flex-wrap: wrap;
        
        a{
            margin-bottom: 8px;
            width:50%;
        }
    }
}

.student-events{
    display:flex;
    width:100%;
    justify-content: space-between;
    flex-wrap: wrap;
    .term{
        width:50%;
        h2{
            font-weight: normal;
        }
        p{
            a{
                color:var(--color-orangeDark);
            }
        }
    }
}














@media(max-width:750px){
    .undergraduate-courses{
        div{
            width:100%;
        }
    }
    .co-ops{
        div{
            a{
                
                width:100%;
            }
        }
    }
    .student-events{
        .term{
            width:100%;
        }
    }
}