@import './constants.scss';

*{
  box-sizing: border-box;
  //overflow-x: hidden;
  
}

.App {
  text-align: center;
  
}


main{
  position: absolute;
  top:60px;
  background-color:var(--color-light);
  transition: ease-in 2s;
  min-height: 100vh;
  padding-left:0;
}

