@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --color-light:#f8f9fa;
    --color-black:black;
    --color-grey:#6c757d;
    --color-greyLight:rgb(208 211 212);
    --color-greyModerate:#EAECEF;
    --color-silverDark:rgb(124 135 142);
    --color-orange:#fd7e14;
    --color-orangeDark:#F76902;
    --color-orangeDarker:#C75300;
    --color-greyDark:#343a40;
  }

.container{
  margin:10px 20%;
  
}

*{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  p{
    font-size:16px;
    font-weight:light;
  }
  a{
    text-decoration:none;
    &:hover{
      text-decoration:underline;
    }
  }

}
@media(max-width:750px){
  .container{
  margin: 10px 7%;
  }
}