@import '../components.scss';
p{
    line-height: 1.5;
    margin-top:0;
}


.professional-development{
    padding:0;
}

.office-hours,.faculty-events{
    a{
        color:var(--color-orangeDark);
    }
}
