@import '../components.scss';

.people{
    display: flex;
    flex-direction: column;
    padding:20px;
    justify-content: flex-start;
    align-items: flex-start;

    header{

        width:100%;
        display: inline flex;
        align-items: center;
        justify-content: space-between;
        
        h2{
            font-size: 2rem;
            font-weight: 550;
        }

        .web-only-profiles{
            margin-left: auto;
            display: inline flex;
            
            a{
                height: 100%;
                text-decoration: none;
                color:black;
                cursor: pointer;
                margin-left:12px;
                border-top: var(--color-light) 2px solid;

                &:hover{
                    border-top: var(--color-orangeDark) 2px solid;
                    color:var(--color-orangeDark);
                }
                
            }
        }
    }

    .profile-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        h2{
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 4px;
        }
        .section-container{
            display: flex;
            flex-direction: column;
            width:100%;
            .display-people{
                width:100%;
                align-items:flex-start;
                justify-content: space-between;
                padding:0;
                display:flex;
                flex-direction: column;
                h3{
                    padding:0;
                    margin:5px;
                    font-size: 1rem;
                    font-weight: 400;
                    a{
                        text-decoration: none;
                        color:var(--color-orangeDark);
                    }
                }

            }
        }
    }
}